h1, h2, h3{
    font-family: 'Montserrat', sans-serif; Times, serif;
}

main{
    font-family: 'Open Sans Condensed', sans-serif; Times, serif;
}

.code{
    font-family: 'Anonymous Pro', monospace; Times, serif;
    
}